:root {
  --text: "Playfair Display", serif;
}

.li {
  font-weight: bold;
  font-family: var(--text);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  list-style: none;
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: white;
  width: 30%;
  flex-basis: 50%;
  border-radius: 10px;
}

.icon {
  height: 30px;
}
