:root {
    --text: 'Playfair Display', serif;
}
.text{
   font-family:  var(--text);;
    display: grid;
    justify-content: center;
    font-size: 25px;
}

.textfield{
font-family:  var(--text);;
margin: 10px;
display:grid;
justify-self: center;
height: 20px;
width: 700px;
}
.form {
    font-family:  var(--text);;
    display: grid;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #f7f5ef;
    justify-self: center;
    margin-left: 50;
    
}

.button{
font-family:  var(--text);;
margin: 10px;
height: 30px;
width: 120px;
justify-self: center;
}